html, body{
    height: 100%;
}

#map {
    height: 100%;
}

#create-location {
    position: absolute;
    right: 0;
    top: 0; 
    height: 2rem;
}

#export-locations {
    position: absolute;
    right: 0;
    top: 2rem; 
    height: 2rem;
}

.info-window__title--edit, .info-window__title {
    display: block;
}
