html, body {
  height: 100vh;
  position: relative;
  overflow: hidden; }

#map {
  height: 100%;
  margin-top: 2rem; }

.drawer
#export-locations {
  position: absolute;
  right: 0;
  top: 2rem;
  height: 2rem; }

.info-window {
  text-align: center; }
  .info-window__name {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: bold;
    display: block; }

.large-info-window {
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  transform: translate(0, 100%);
  transition: transform 0.3s ease-out; }
  .large-info-window__toggle {
    position: absolute;
    line-height: 2rem;
    text-transform: uppercase;
    background-color: white;
    display: block;
    width: 100%;
    padding-left: 10px;
    top: -2rem; }
    .large-info-window__toggle:after {
      position: absolute;
      right: 20px;
      display: inline-block;
      font-size: 1.2rem;
      content: "\00BB";
      text-shadow: 0 -1px 0 #bfbfbf;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .large-info-window__bottom-toggle {
    border-top: 1px solid #1C262F;
    position: absolute;
    line-height: 2rem;
    text-transform: uppercase;
    background-color: white;
    display: block;
    width: 100%;
    padding-left: 10px;
    bottom: 0; }
    .large-info-window__bottom-toggle:after {
      position: absolute;
      right: 20px;
      display: inline-block;
      font-size: 1.2rem;
      content: "\00BB";
      text-shadow: 0 -1px 0 #bfbfbf;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
  .large-info-window--open {
    transform: translate(0, 0);
    transition: transform 0.3s ease-out; }

.info {
  box-sizing: border-box;
  margin-top: 2rem;
  padding: 0 10px;
  height: 400px;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; }
  .info::-webkit-scrollbar {
    width: 8px;
    right: 10px; }
  .info::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.85); }
  .info__name, .info__latlng, .info__name--edit {
    width: 100%;
    text-align: center; }
  .info__name, .info__name--edit {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.4rem 0 0;
    font-weight: bold; }
  .info__info {
    width: 100%; }
  .info__info--edit {
    width: 100%;
    height: 40%; }

.sessions {
  box-sizing: border-box;
  width: 100%; }

.session__info, .session__info--edit {
  box-sizing: border-box;
  width: 100%; }
.session__images-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
.session__preview-image {
  display: block;
  max-height: 200px;
  max-width: 200px; }
.session__images-upload-btn, .session__images-select-btn {
  padding: 1px 6px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: left;
  outline: none; }
.session__images-upload-btn.hidden {
  display: none; }

header {
  height: 2rem;
  width: 100%;
  background-color: #1C262F;
  position: absolute;
  z-index: 2;
  top: 0; }

.drawer {
  text-align: left;
  color: #EEE;
  height: 100vh;
  width: 200px;
  background-color: #1C262F;
  position: absolute;
  transition: transform 0.3s ease-out;
  z-index: 2;
  left: 0;
  transform: translate(-200px); }
  .drawer .fa-bars {
    font-size: 1.5rem;
    line-height: 2rem;
    position: absolute;
    color: #FFF;
    right: -30px; }
  .drawer--open {
    transform: translate(0);
    transition: transform 0.3s ease-out; }
    .drawer--open .fa-bars {
      transform: rotate(90deg); }

.create-location {
  text-align: left;
  color: #EEE;
  height: 100vh;
  width: 200px;
  background-color: #1C262F;
  position: absolute;
  transition: transform 0.3s ease-out;
  z-index: 2;
  right: 0;
  transform: translate(200px); }
  .create-location .fa-plus, .create-location .fa-minus {
    font-size: 1.4rem;
    line-height: 2rem;
    position: absolute;
    color: #FFF;
    left: -30px; }
  .create-location .fa-minus {
    display: none; }
  .create-location__title {
    text-align: right;
    padding: 0px 6px;
    box-sizing: border-box;
    display: block;
    text-transform: uppercase;
    line-height: 2rem;
    width: 100%;
    height: 2rem;
    background-color: #1C262F; }
  .create-location--open {
    transform: translate(0);
    transition: transform 0.3s ease-out; }
    .create-location--open .fa-plus {
      display: none; }
    .create-location--open .fa-minus {
      display: inline-block; }

.location-form {
  margin: 0px 6px; }
  .location-form__name, .location-form__info {
    color: #222;
    box-sizing: border-box;
    width: 188px; }
  .location-form__info {
    height: 10rem; }
  .location-form__submit {
    padding: 1px 6px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: left;
    outline: none;
    color: #EEE;
    line-height: 2rem;
    width: 100%;
    height: 2rem;
    background-color: #1C262F;
    border: 1px solid #EEE;
    outline: none; }

.drawer__filter {
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  margin: 0px;
  color: #EEE;
  padding: 6px;
  padding-bottom: 4.2rem; }
  .drawer__filter__searchbox {
    color: #222;
    box-sizing: border-box;
    width: 188px; }
  .drawer__filter__list {
    margin-bottom: 2rem;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    list-style: none;
    text-transform: uppercase;
    padding: 6px 0 0; }
    .drawer__filter__list::-webkit-scrollbar {
      width: 10px;
      right: 2px; }
    .drawer__filter__list::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    .drawer__filter__list::-webkit-scrollbar-thumb {
      background-color: rgba(93, 93, 93, 0.7); }
  .drawer__filter__export-btn, .drawer__filter__import-btn {
    position: absolute;
    left: 0;
    padding: 1px 6px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: left;
    outline: none;
    color: #EEE;
    line-height: 2rem;
    width: 100%;
    height: 2rem;
    background-color: #1C262F;
    border: 1px solid #EEE;
    outline: none; }
  .drawer__filter__export-btn {
    bottom: 2rem; }
  .drawer__filter__import-btn {
    border-top: none;
    bottom: 0rem;
    cursor: pointer; }
  .drawer__filter__import-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }

/*# sourceMappingURL=style.css.map */
