$mirage: #1C262F;
$gallery: #EEE;
@mixin form-fields {
    color: #222;
    box-sizing: border-box;
    width: 200px - 12px;
}

html, body{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#map {
    height: 100%;
    margin-top: 2rem;
}

.drawer
#export-locations {
    position: absolute;
    right: 0;
    top: 2rem; 
    height: 2rem;
}

.info-window__name--edit, .info-window__name {
    display: block;
}

.large-info-window {
    background-color: white;
    height: 9rem;
    width: 100%;
    position: absolute;
    bottom: 0px;
    transform: translate(0, 7rem);
    transition: transform 0.3s ease-out;
    &__toggle{
        line-height: 2rem;
        text-transform: uppercase;
        display: block;
        &:after {
            position: absolute;
            right: 10px;
            display: inline-block;
            font-size: 1.2rem;
            content: "\00BB";
            text-shadow: 0 -1px 0 #bfbfbf;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            .large-info-window--open & {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg)
            }
        }
    }
    &--open {
        transform: translate(0, 0);
        transition: transform 0.3s ease-out;
    }
    &__name,  &__latlng {
        display: block;
        text-align: center;
    }
    &__name {
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: 0rem;
        margin: 0.4rem 0;
        font-weight: bold;
    }
}

header {
    height: 2rem;
    width: 100%;
    background-color: $mirage;
    position: absolute;
    z-index: 2;
    top: 0;
}

.drawer {
    text-align: left;
    color: $gallery;
    height: 100vh;
    width: 200px;
    background-color: $mirage;
    position: absolute;
    left: 0;
    transform: translate(-200px);
    transition: transform 0.3s ease-out;
    z-index: 2;
    .fa-bars {
        font-size: 1.5rem;
        line-height: 2rem;
        position: absolute;
        color: #FFF;
        right: -30px;
    }
    &__list {
        max-height: 100%;
        overflow-y: scroll;
        list-style: none;
        text-transform: uppercase;
        margin: 6px;
        padding: 6px 0 0;
        border-top: 1px solid $gallery;
    }
    &__create-location-btn {
        text-align: left;
        text-transform: uppercase;
        line-height: 2rem;
        width: 100%;
        height: 2rem;
        background-color: $mirage;
        border: none;
        outline: none;
        &--closed:after {
            position: absolute;
            right: 1rem;
            font-size: 1.7rem;
            content: '+';
        }
        &--open:after {
            position: absolute;
            line-height: 2rem;
            right: 1rem;
            content: '\2015';
        }
    }
    &--open {
        transform: translate(0);
        transition: transform 0.3s ease-out;
        .fa-bars{
            transform: rotate(90deg);
        }
    }
}
.create-location-form {
    margin: 6px;
    &__name, &__info{
        @include form-fields;
    }
    &__info{
        height: 5rem;
    }
    &__submit {
        text-transform: uppercase;
        text-align: left;
        color: $gallery;
        line-height: 2rem;
        width: 100%;
        height: 2rem;
        background-color: $mirage;
        border: 1px solid $gallery;
        outline: none;
    }
}

.drawer__filter {
    @include form-fields;
}

.filter-wrapper {
    @include form-fields;
    margin: 6px;
    border-top: 1px solid $gallery;
    padding: 6px 0 0;
}


